body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title{
  margin: 20px;
}

.list-table{
  margin: 20px 0;
}

.todo-btn{
  white-space: nowrap;
}
.selectedList{
  background-color: navy;
}
.selectedList td{
  color: #fff;
}
.cursor-pointer	{
  cursor: pointer;
}
.edit-btn{
  color:royalblue;
}
.delete-btn{
  color:red;
}
.success{
  color:green;
}